In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
from sklearn.preprocessing import OneHotEncoder, StandardScaler

In [2]:
# membaca data
data_travel = pd.read_csv('bahan_test.csv')
data_travel

,order_type,pax_name,order_id,generation_date,travel_date,status,agent,region,agent_type,airline,harga,class,sector
0,Domestic,f1473af8,PNR1,20181009,20181011,To Deliver,5770,DKI Jakarta,agent,XG,0.001324,X,CGK-PDG
1,Domestic,58475d2a,PNR2,20181009,20181010,To Deliver,5770,DKI Jakarta,agent,XG,0.001856,X,PKU-CGK
2,Domestic,000f89da,PNR3,20181009,20181027,To Deliver,5770,DKI Jakarta,agent,LE,0.002189,Q,LOP-CGK
3,Domestic,b78d5043,PNR4,20181009,20181010,To Deliver,5770,DKI Jakarta,agent,MI,0.001609,V,CGK-KNO
4,Domestic,bbaa07cd,PNR5,20181009,20190103,To Deliver,5770,DKI Jakarta,agent,AZ,0.001340,L,CGK-PGK
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3648137,International,f9f8c603,PNR1805534,20170401,20170415,To Deliver,6958,Bali,agent,TI,0.000977,O,KNO-KUL
3648138,International,2a39dab3,PNR1805534,20170401,20170415,To Deliver,6958,Bali,agent,TI,0.000977,O,KNO-KUL
3648139,International,a9ac3e92,PNR1805534,20170401,20170415,To Deliver,6958,Bali,agent,TI,0.000977,O,KNO-KUL
3648140,International,05567cac,PNR1805534,20170401,20170415,To Deliver,6958,Bali,agent,TI,0.000977,O,KNO-KUL
3648141,International,22f5bf45,PNR1805534,20170401,20170417,To Deliver,6958,Bali,agent,TI,0.001138,Z,KUL-KNO

In [3]:
# informasi data
data_travel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3648142 entries, 0 to 3648141
Data columns (total 13 columns):
 #   Column           Dtype
---  ------           -----
 0   order_type       object
 1   pax_name         object
 2   order_id         object
 3   generation_date  int64
 4   travel_date      int64
 5   status           object
 6   agent            int64
 7   region           object
 8   agent_type       object
 9   airline          object
 10  harga            float64
 11  class            object
 12  sector           object
dtypes: float64(1), int64(3), object(9)
memory usage: 361.8+ MB

generation date dan travel date masih bertipe int

In [4]:
# mengubah tipe data int pada generation_date menjadi tipe data datetime
data_travel['generation_date'] = pd.to_datetime(data_travel['generation_date'], format='%Y%m%d').dt.date
data_travel['generation_date'] = pd.to_datetime(data_travel['generation_date'], yearfirst=True)
data_travel['generation_date']

0         2018-10-09
1         2018-10-09
2         2018-10-09
3         2018-10-09
4         2018-10-09
             ...
3648137   2017-04-01
3648138   2017-04-01
3648139   2017-04-01
3648140   2017-04-01
3648141   2017-04-01
Name: generation_date, Length: 3648142, dtype: datetime64[ns]

In [5]:
# mengubah tipe data int pada travel_date menjadi tipe data datetime
data_travel['travel_date'] = pd.to_datetime(data_travel['travel_date'], format='%Y%m%d').dt.date
data_travel['travel_date'] = pd.to_datetime(data_travel['travel_date'], yearfirst=True)
data_travel['travel_date']

0         2018-10-11
1         2018-10-10
2         2018-10-27
3         2018-10-10
4         2019-01-03
             ...
3648137   2017-04-15
3648138   2017-04-15
3648139   2017-04-15
3648140   2017-04-15
3648141   2017-04-17
Name: travel_date, Length: 3648142, dtype: datetime64[ns]

In [6]:
# mengubah tipe data int pada agent menjadi tipe data string
data_travel['agent'] = data_travel['agent'].astype('str')
data_travel['agent']

0          5770
1          5770
2          5770
3          5770
4          5770
           ...
3648137    6958
3648138    6958
3648139    6958
3648140    6958
3648141    6958
Name: agent, Length: 3648142, dtype: object

In [7]:
data_travel

,order_type,pax_name,order_id,generation_date,travel_date,status,agent,region,agent_type,airline,harga,class,sector
0,Domestic,f1473af8,PNR1,2018-10-09,2018-10-11,To Deliver,5770,DKI Jakarta,agent,XG,0.001324,X,CGK-PDG
1,Domestic,58475d2a,PNR2,2018-10-09,2018-10-10,To Deliver,5770,DKI Jakarta,agent,XG,0.001856,X,PKU-CGK
2,Domestic,000f89da,PNR3,2018-10-09,2018-10-27,To Deliver,5770,DKI Jakarta,agent,LE,0.002189,Q,LOP-CGK
3,Domestic,b78d5043,PNR4,2018-10-09,2018-10-10,To Deliver,5770,DKI Jakarta,agent,MI,0.001609,V,CGK-KNO
4,Domestic,bbaa07cd,PNR5,2018-10-09,2019-01-03,To Deliver,5770,DKI Jakarta,agent,AZ,0.001340,L,CGK-PGK
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3648137,International,f9f8c603,PNR1805534,2017-04-01,2017-04-15,To Deliver,6958,Bali,agent,TI,0.000977,O,KNO-KUL
3648138,International,2a39dab3,PNR1805534,2017-04-01,2017-04-15,To Deliver,6958,Bali,agent,TI,0.000977,O,KNO-KUL
3648139,International,a9ac3e92,PNR1805534,2017-04-01,2017-04-15,To Deliver,6958,Bali,agent,TI,0.000977,O,KNO-KUL
3648140,International,05567cac,PNR1805534,2017-04-01,2017-04-15,To Deliver,6958,Bali,agent,TI,0.000977,O,KNO-KUL
3648141,International,22f5bf45,PNR1805534,2017-04-01,2017-04-17,To Deliver,6958,Bali,agent,TI,0.001138,Z,KUL-KNO

In [8]:
data_travel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3648142 entries, 0 to 3648141
Data columns (total 13 columns):
 #   Column           Dtype
---  ------           -----
 0   order_type       object
 1   pax_name         object
 2   order_id         object
 3   generation_date  datetime64[ns]
 4   travel_date      datetime64[ns]
 5   status           object
 6   agent            object
 7   region           object
 8   agent_type       object
 9   airline          object
 10  harga            float64
 11  class            object
 12  sector           object
dtypes: datetime64[ns](2), float64(1), object(10)
memory usage: 361.8+ MB

In [9]:
data_travel.duplicated().sum()

39

In [10]:
data_travel[data_travel.duplicated(keep=False)]

,order_type,pax_name,order_id,generation_date,travel_date,status,agent,region,agent_type,airline,harga,class,sector
816482,Domestic,9fdb9650,PNR424941,2018-02-27,2018-03-05,To Deliver,2305,DKI Jakarta,agent,XG,0.001094,O,SUB-BDJ
816483,Domestic,9fdb9650,PNR424941,2018-02-27,2018-03-05,To Deliver,2305,DKI Jakarta,agent,XG,0.001094,O,SUB-BDJ
920428,Domestic,9312662f,PNR478220,2018-01-30,2018-02-03,To Deliver,2305,DKI Jakarta,agent,LE,0.001646,L,PKU-CGK
920429,Domestic,9312662f,PNR478220,2018-01-30,2018-02-03,To Deliver,2305,DKI Jakarta,agent,LE,0.001646,L,PKU-CGK
2332703,Domestic,7df20918,PNR1317579,2018-10-05,2018-10-21,To Deliver,2794,DKI Jakarta,agent,LE,0.001712,L,UPG-CGK
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3494825,International,fa6b17b0,PNR1890160,2018-12-05,2019-01-12,To Deliver,8617,Jawa Barat,agent,FB,0.000684,T,AUH-CGK
3494826,International,712e12b5,PNR1890160,2018-12-05,2019-01-12,To Deliver,8617,Jawa Barat,agent,FB,0.000684,T,AUH-CGK
3494827,International,fa6b17b0,PNR1890160,2018-12-05,2019-01-12,To Deliver,8617,Jawa Barat,agent,FB,0.000684,T,AUH-CGK
3494828,International,712e12b5,PNR1890160,2018-12-05,2019-01-12,To Deliver,8617,Jawa Barat,agent,FB,0.000684,T,AUH-CGK
3494829,International,fa6b17b0,PNR1890160,2018-12-05,2019-01-12,To Deliver,8617,Jawa Barat,agent,FB,0.000684,T,AUH-CGK

In [11]:
data_travel = data_travel.drop_duplicates(keep='first')

In [12]:
data_travel

,order_type,pax_name,order_id,generation_date,travel_date,status,agent,region,agent_type,airline,harga,class,sector
0,Domestic,f1473af8,PNR1,2018-10-09,2018-10-11,To Deliver,5770,DKI Jakarta,agent,XG,0.001324,X,CGK-PDG
1,Domestic,58475d2a,PNR2,2018-10-09,2018-10-10,To Deliver,5770,DKI Jakarta,agent,XG,0.001856,X,PKU-CGK
2,Domestic,000f89da,PNR3,2018-10-09,2018-10-27,To Deliver,5770,DKI Jakarta,agent,LE,0.002189,Q,LOP-CGK
3,Domestic,b78d5043,PNR4,2018-10-09,2018-10-10,To Deliver,5770,DKI Jakarta,agent,MI,0.001609,V,CGK-KNO
4,Domestic,bbaa07cd,PNR5,2018-10-09,2019-01-03,To Deliver,5770,DKI Jakarta,agent,AZ,0.001340,L,CGK-PGK
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3648137,International,f9f8c603,PNR1805534,2017-04-01,2017-04-15,To Deliver,6958,Bali,agent,TI,0.000977,O,KNO-KUL
3648138,International,2a39dab3,PNR1805534,2017-04-01,2017-04-15,To Deliver,6958,Bali,agent,TI,0.000977,O,KNO-KUL
3648139,International,a9ac3e92,PNR1805534,2017-04-01,2017-04-15,To Deliver,6958,Bali,agent,TI,0.000977,O,KNO-KUL
3648140,International,05567cac,PNR1805534,2017-04-01,2017-04-15,To Deliver,6958,Bali,agent,TI,0.000977,O,KNO-KUL
3648141,International,22f5bf45,PNR1805534,2017-04-01,2017-04-17,To Deliver,6958,Bali,agent,TI,0.001138,Z,KUL-KNO

In [13]:
# kolom yang memiliki missing value
data_travel.isna().sum()[data_travel.isna().sum()>0]

region    205627
class      62383
dtype: int64

In [14]:
# kolom yang memiliki missing value
(data_travel.isna().sum()[data_travel.isna().sum()>0])/len(data_travel)*100

region    5.636546
class     1.710012
dtype: float64

In [15]:
# Cek apakah missing value pada region punya pola
print(data_travel[data_travel['region'].isna()].groupby('sector').size().sort_values(ascending=False))
print(data_travel[data_travel['region'].isna()].groupby('airline').size().sort_values(ascending=False))
print(data_travel[data_travel['region'].isna()].groupby('agent').size().sort_values(ascending=False))

sector
DPS-CGK    7026
CGK-DPS    6397
CGK-KUL    5874
KUL-CGK    5151
CGK-SIN    3733
           ...
KOS-SGN       1
KOA-HNL       1
KNG-MKW       1
KMQ-HND       1
ZYR-AMS       1
Length: 3361, dtype: int64
airline
XG    40706
AZ    20497
DB    16734
GF    16260
LE    13390
      ...
FC        1
QC        1
IQ        1
SU        1
HQ        1
Length: 137, dtype: int64
agent
1680    2675
2258    1799
4861    1766
1258    1387
8965    1234
        ...
2377       1
3079       1
7469       1
5599       1
8599       1
Length: 8888, dtype: int64

In [16]:
# Cek distribusi region untuk setiap sector yang tidak missing
sector_region_counts = data_travel.dropna(subset=['region']).groupby('sector')['region'].nunique()

# Tampilkan sector yang hanya punya satu region unik (berarti bisa dipakai untuk mapping)
print(sector_region_counts[sector_region_counts == 1])

sector
ABJ-DKR    1
ABJ-FNA    1
ABZ-LHR    1
ACC-ADD    1
ACC-KMS    1
          ..
ZRH-VLC    1
ZRH-WAW    1
ZVJ-DXB    1
ZYI-CAN    1
cgk-CMB    1
Name: region, Length: 1954, dtype: int64

In [17]:
# Buat mapping sector ke region (menggunakan modus sebagai nilai default)
sector_to_region = data_travel.dropna(subset=['region']).groupby('sector')['region'].agg(lambda x: x.mode()[0] if not x.mode().empty else 'not known').to_dict()

# Isi missing value di region berdasarkan sector menggunakan .loc
data_travel.loc[data_travel['region'].isna(), 'region'] = data_travel['sector'].map(sector_to_region).fillna('not known')

# Cek apakah masih ada missing value
print(f"Missing value di region setelah imputasi: {data_travel['region'].isna().sum()}")

Missing value di region setelah imputasi: 0

In [18]:
# kolom yang memiliki missing value
data_travel.isna().sum()[data_travel.isna().sum()>0]

class    62383
dtype: int64

In [19]:
# kolom yang memiliki missing value
(data_travel.isna().sum()[data_travel.isna().sum()>0])/len(data_travel)*100

class    1.710012
dtype: float64

In [20]:
# Hitung jumlah missing value pada class berdasarkan airline
missing_class_counts = data_travel[data_travel['class'].isna()]['airline'].value_counts()

# Hitung total jumlah tiket untuk tiap airline dalam dataset
total_airline_counts = data_travel['airline'].value_counts()

# Gabungkan kedua informasi ke dalam satu DataFrame
summary_data_travel = pd.DataFrame({
    'Airline': missing_class_counts.index,  # Nama maskapai
    'Missing_Class_Count': missing_class_counts.values,  # Jumlah missing class
    'Total_Airline_Count': total_airline_counts.reindex(missing_class_counts.index).values  # Total tiket maskapai tersebut
})

# Tampilkan hasil
print(summary_data_travel)

   Airline  Missing_Class_Count  Total_Airline_Count
0       JU                20063                20063
1       XG                13632              1220365
2       AZ                 9976               487990
3       MI                 4575               356145
4       LE                 2674               485609
5       DB                 2537               146970
6       WT                 2321                42063
7       HV                 2204               171296
8       TS                 1114                68202
9       TI                  665                59353
10      RK                  510                42116
11      GF                  336               274198
12      RW                  320                 4274
13      KG                  180                11777
14      SS                  108                 7094
15      FB                  106                 8295
16      RJ                  104                16394
17      RE                   87                 7291
18      QT                   83                77262
19      PM                   72                10898
20      TT                   65                 6733
21      ZV                   60                15349
22      DJ                   59                 8553
23      VX                   58                 2127
24      GM                   51                 4890
25      GW                   48                 1880
26      RL                   48                  896
27      NU                   40                 4637
28      RB                   34                 6893
29      BX                   33                 7383
30      TN                   33                 8036
31      EA                   28                 7438
32      EO                   18                 1953
33      SE                   18                 4091
34      UL                   13                  115
35      PI                   12                  792
36      KJ                   12                  479
37      UB                   11                 9092
38      JE                    8                 1662
39      LO                    8                  423
40      KY                    7                  842
41      HL                    7                  264
42      CN                    7                 2399
43      AG                    5                 1546
44      PC                    5                    5
45      PE                    4                  309
46      VV                    4                  692
47      NN                    4                 2493
48      MB                    4                   70
49      DN                    3                    3
50      QC                    2                   26
51      VF                    2                  843
52      EJ                    2                 6554
53      EK                    2                  197
54      PR                    1                 4296

In [21]:
# Hitung jumlah kelas unik per airline
unique_class_per_airline = data_travel.groupby('airline')['class'].nunique()

# Filter airline yang hanya memiliki satu jenis kelas
single_class_airlines = unique_class_per_airline[unique_class_per_airline == 1]

# Konversi ke DataFrame untuk tampilan lebih rapi
single_class_airlines_data_travel = single_class_airlines.reset_index()
single_class_airlines_data_travel.columns = ['Airline', 'Unique_Class_Count']

# Tampilkan hasil
print(single_class_airlines_data_travel)

   Airline  Unique_Class_Count
0       AV                   1
1       BA                   1
2       CE                   1
3       FC                   1
4       IL                   1
5       OP                   1
6       OW                   1
7       PP                   1
8       UC                   1
9       VL                   1
10      WF                   1
11      WG                   1
12      XN                   1
13      YK                   1

In [22]:
# Filter data hanya untuk airline yang memiliki satu kelas
filtered_data = data_travel[data_travel['airline'].isin(single_class_airlines_data_travel['Airline'])]

# Cek apakah ada missing value di kolom 'class' pada airline ini
missing_in_single_class = filtered_data['class'].isna().sum()

# Output hasil
print(f"Jumlah missing value pada class untuk airline yang hanya punya satu kelas: {missing_in_single_class}")

Jumlah missing value pada class untuk airline yang hanya punya satu kelas: 0

In [23]:
# melakukan imputing kolom class pada tipe airline JU, PE, dan DN dengan "Unknown"
data_travel.loc[
    (data_travel['airline'].isin(['JU', 'DN', 'PE'])) & (data_travel['class'].isna()),
    'class'] = 'Unknown'

In [24]:
# menghapus missing value pada class
data_travel = data_travel.dropna(subset=['class'])

In [25]:
len(data_travel)

3605790

In [26]:
# menampilkan data unique masing-masing kolom
for col in data_travel.columns:
    print(f"Kolom: {col}")
    print(data_travel[col].unique(), "\n")

Kolom: order_type
['Domestic' 'International']

Kolom: pax_name
['f1473af8' '58475d2a' '000f89da' ... '097c6756' 'c7491bb9' '22f5bf45']

Kolom: order_id
['PNR1' 'PNR2' 'PNR3' ... 'PNR1933591' 'PNR1933592' 'PNR1933593']

Kolom: generation_date
<DatetimeArray>
['2018-10-09 00:00:00', '2018-10-10 00:00:00', '2018-10-11 00:00:00',
 '2018-10-12 00:00:00', '2018-10-13 00:00:00', '2018-10-14 00:00:00',
 '2018-10-15 00:00:00', '2018-10-16 00:00:00', '2018-10-17 00:00:00',
 '2018-10-18 00:00:00',
 ...
 '2017-07-10 00:00:00', '2017-07-11 00:00:00', '2017-07-13 00:00:00',
 '2017-07-14 00:00:00', '2017-07-15 00:00:00', '2017-03-25 00:00:00',
 '2017-03-26 00:00:00', '2017-03-20 00:00:00', '2017-03-22 00:00:00',
 '2017-03-14 00:00:00']
Length: 659, dtype: datetime64[ns]

Kolom: travel_date
<DatetimeArray>
['2018-10-11 00:00:00', '2018-10-10 00:00:00', '2018-10-27 00:00:00',
 '2019-01-03 00:00:00', '2018-10-22 00:00:00', '2018-10-28 00:00:00',
 '2018-10-12 00:00:00', '2018-10-09 00:00:00', '2018-11-04 00:00:00',
 '2018-10-21 00:00:00',
 ...
 '2019-10-10 00:00:00', '2019-11-08 00:00:00', '2019-09-19 00:00:00',
 '2019-10-06 00:00:00', '2019-09-10 00:00:00', '2019-10-23 00:00:00',
 '2019-10-14 00:00:00', '2019-10-26 00:00:00', '2019-07-16 00:00:00',
 '2019-08-03 00:00:00']
Length: 970, dtype: datetime64[ns]

Kolom: status
['To Deliver' 'Cancelled' 'To Cancel']

Kolom: agent
['5770' '3750' '4434' ... '6583' '7934' '2837']

Kolom: region
['DKI Jakarta' 'Kalimantan Tengah' 'Jawa Barat' 'Bengkulu' '-1' 'Banten'
 'Dki Jakarta' 'Sumatera Barat' 'Jawa Timur' 'JawaTimur' 'Bali' 'Lampung'
 'Riau' ' Sumatera Selatan ' ' Sumatera Utara' 'Jawa Tengah' 'Papua'
 'Aceh' 'Kalimantan Timur' 'Jambi' 'D.I Yogyakarta' 'Sulawesi Selatan'
 'Kepulauan Riau' 'Sumatera Selatan' 'Kepulauan Bangka Belitung'
 'Kalimantan Barat' 'Nusa Tenggara Timur' 'Sulawesi Tenggara'
 'Sumatera Utara' 'Kalimantan Utara' 'Sulawesi Barat' 'Gorontalo'
 'Maluku Utara' 'Sulawesi Utara' 'Bangka Belitung' 'Papua Barat'
 'INTERNATIONAL' 'Kalimantan Selatan' 'Sumatra' 'Nusa Tenggara Barat'
 'Maluku' 'Nangroe Aceh Darussalam' 'Sulawesi Tengah' 'DI Yogyakarta'
 'dki jakarta' 'Nusa Tenaggar Timur' 'DKI' 'Yogyakarta' 'Kalimantan timur'
 'Java' 'Bekasi' 'Jakarta' 'denpasar' 'jakarta' 'Indonesia'
 'KALIMANTAN BARAT' 'Spain' 'jawa timur' 'East Java' 'Bogor'
 'East Kalimantan' 'JAKARTA' 'Tangerang Selatan' 'DKI JAKARTA' 'riau'
 'indonesia' 'INDONESIA' 'Moscow' 'sumatra untara' 'Jawa tengah'
 'Dki jakarta' 'Jakarta Pusat' 'Central Java' 'Jawa timur' 'not known'
 'sumut' 'jawa barat' 'LAMPUNG' 'Jakarta Utara' 'Osaka' 'Jakarta Selatan'
 'SOUTH SUMATRA' 'Connecticut' 'kepri' 'banten' 'jawa tengah'
 'Jakarta barat' 'Tangerang' 'Singapore' 'France' 'north sumatra'
 'South sumatra' 'DKI JAKARTA, INDONESIA' 'sumatera utara'
 'jakarta selatan' 'DKI jakarta' 'Slipi' 'Jawa barat' 'bali' 'Rempoa'
 'JAWA TIMUR']

Kolom: agent_type
['agent' 'b2cUser' 'agencyadmin' 'corp' 'distributor']

Kolom: airline
['XG' 'LE' 'MI' 'AZ' 'TS' 'HV' 'DB' 'GF' 'JU' 'QT' 'TN' 'EJ' 'UB' 'KY'
 'DN' 'TI' 'RE' 'DJ' 'PM' 'RK' 'EA' 'CN' 'SE' 'NQ' 'KG' 'RJ' 'BX' 'RW'
 'WT' 'GM' 'RB' 'GW' 'ZV' 'AG' 'PI' 'XB' 'PR' 'FB' 'PE' 'RR' 'LO' 'IZ'
 'NU' 'SS' 'TT' 'EO' 'CC' 'RL' 'YO' 'ZO' 'JX' 'HL' 'JE' 'GP' 'UL' 'VX'
 'XN' 'VF' 'BI' 'AE' 'NN' 'EN' 'EK' 'BW' 'TL' 'XY' 'HS' 'BO' 'MQ' 'QK'
 'WW' 'VV' 'PD' 'XI' 'NZ' 'SZ' 'QR' 'YY' 'KA' 'KD' 'VW' 'WQ' 'KJ' 'JQ'
 'QA' 'CY' 'KI' 'UK' 'CG' 'TF' 'TV' 'OT' 'JB' 'JO' 'RG' 'PU' 'FH' 'ZS'
 'LC' 'EZ' 'GG' 'UA' 'IY' 'ME' 'JA' 'BR' 'QH' 'AU' 'SU' 'LW' 'SC' 'HD'
 'VU' 'ZJ' 'YL' 'RA' 'LT' 'RZ' 'UV' 'XX' 'IQ' 'MB' 'WK' 'DG' 'BB' 'WG'
 'MP' 'IL' 'FT' 'QN' 'WZ' 'OX' 'ZY' 'SQ' 'CW' 'LX' 'LG' 'CE' 'YS' 'RD'
 'VZ' 'FC' 'JH' 'GJ' 'HQ' 'YK' 'RS' 'QC' 'WF' 'OP' 'NR' 'JG' 'KH' 'UC'
 'OO' 'VL' 'FR' 'BA' 'GL' 'DS' 'PP' 'OW' 'AV']

Kolom: harga
[0.00132433 0.00185557 0.0021887  ... 0.00745831 0.00427999 0.00555807]

Kolom: class
['X' 'Q' 'V' 'L' 'T' 'P' 'N' 'A' 'H' 'B' 'Y' 'E' 'Z' 'O' 'I' 'G' 'K' 'M'
 'Unknown' 'S' 'D' 'C' 'F' 'R' 'U' 'A/0' 'm' 'J/0' 'Promo' 'W' 'L/0' 'P/0'
 'Economy' 'K/0' 'J' 'E/0' 'H/0' 'C/0' 'M/0' 'R/0' 'B/0' 'O/0' 'G/0' 'N/0'
 'n' 'W/0' 'F/0' 'X/0' 'I/0' 'Y/0' 'V/0' 'Q/0' 'v' 's' 'D/0' 'k' 'y' 'l'
 'x' 'w' 'promo' 'b' 'd' 'g' 'e' 'c' 'a' 't' 'i' 'h' 'T/0' 'S/0' 'U/0' 'q'
 'VEE7D' 'SEE7D' 'o' 'BCLP' 'LAKHTL' 'INXURZ' 'BCLN' 'FE6VXK' 'B1' 'E2'
 'ZY' 'O1' 'W1' 'H1' 'L1' 'X1' 'E3' 'N1' 'E1' 'S1' 'DEPOSIT' 'C3' 'Y1'
 'E4' 'T1' 'M1' 'A1' 'R1' 'BOOKING FEE' 'PEMBAYARAN DP50%' 'F1'
 'PELUNASAN' 'C2' 'P1' 'B2' 'FULL PAYMENT' 'PEMBAYARAN FULL' 'DEPOSIT 40%'
 'E5' 'PEMBAYARAN DEPOSIT' 'PINALTY FEE' 'PEMBAYARAN' 'FULLPAYMENT' 'IY'
 'OY' 'A9Z4NJ' 'PAYMENT BOOKING FEE' 'H3' 'Y3' 'S3' 'P3' 'R3' 'M3' 'O3'
 '-' 'PY' 'ISSUED 50 PAX' 'ISSUED 26PAX' 'ISSUED 04PAX' 'DEPOSIT 38 PAX'
 'AVLCQG' 'GD1BKN' 'N3' 'X3' 'LLG14DID/GATF' 'LLLG14DID/GATF' 'PA'
 'R Friendly' 'W3' 'L3' 'MNo-Change' 'T3' 'DFVBKZ' 'NN' 'ZF' 'RESCHEDULE'
 'DEPOSIT 2']

Kolom: sector
['CGK-PDG' 'PKU-CGK' 'LOP-CGK' ... 'YYZ-ORD' 'HYD-CCU' 'HKT-USM']

**region dulu (inkonsisten)**

In [27]:
# Menghapus spasi di awal dan akhir
data_travel.loc[:, 'region'] = data_travel['region'].str.strip()

# Menghapus double spasi di tengah
data_travel.loc[:, 'region'] = data_travel['region'].str.replace(r'\s+', ' ', regex=True).str.strip()

data_travel.region.unique()

array(['DKI Jakarta', 'Kalimantan Tengah', 'Jawa Barat', 'Bengkulu', '-1',
       'Banten', 'Dki Jakarta', 'Sumatera Barat', 'Jawa Timur',
       'JawaTimur', 'Bali', 'Lampung', 'Riau', 'Sumatera Selatan',
       'Sumatera Utara', 'Jawa Tengah', 'Papua', 'Aceh',
       'Kalimantan Timur', 'Jambi', 'D.I Yogyakarta', 'Sulawesi Selatan',
       'Kepulauan Riau', 'Kepulauan Bangka Belitung', 'Kalimantan Barat',
       'Nusa Tenggara Timur', 'Sulawesi Tenggara', 'Kalimantan Utara',
       'Sulawesi Barat', 'Gorontalo', 'Maluku Utara', 'Sulawesi Utara',
       'Bangka Belitung', 'Papua Barat', 'INTERNATIONAL',
       'Kalimantan Selatan', 'Sumatra', 'Nusa Tenggara Barat', 'Maluku',
       'Nangroe Aceh Darussalam', 'Sulawesi Tengah', 'DI Yogyakarta',
       'dki jakarta', 'Nusa Tenaggar Timur', 'DKI', 'Yogyakarta',
       'Kalimantan timur', 'Java', 'Bekasi', 'Jakarta', 'denpasar',
       'jakarta', 'Indonesia', 'KALIMANTAN BARAT', 'Spain', 'jawa timur',
       'East Java', 'Bogor', 'East Kalimantan', 'JAKARTA',
       'Tangerang Selatan', 'DKI JAKARTA', 'riau', 'indonesia',
       'INDONESIA', 'Moscow', 'sumatra untara', 'Jawa tengah',
       'Dki jakarta', 'Jakarta Pusat', 'Central Java', 'Jawa timur',
       'not known', 'sumut', 'jawa barat', 'LAMPUNG', 'Jakarta Utara',
       'Osaka', 'Jakarta Selatan', 'SOUTH SUMATRA', 'Connecticut',
       'kepri', 'banten', 'jawa tengah', 'Jakarta barat', 'Tangerang',
       'Singapore', 'France', 'north sumatra', 'South sumatra',
       'DKI JAKARTA, INDONESIA', 'sumatera utara', 'jakarta selatan',
       'DKI jakarta', 'Slipi', 'Jawa barat', 'bali', 'Rempoa',
       'JAWA TIMUR'], dtype=object)

In [28]:
# mengubah menjadi huruf kapital tiap awal kata
data_travel.loc[:, 'region'] = data_travel['region'].str.title()

In [29]:
#cek unique value pada kolom region
data_travel['region'].unique()

array(['Dki Jakarta', 'Kalimantan Tengah', 'Jawa Barat', 'Bengkulu', '-1',
       'Banten', 'Sumatera Barat', 'Jawa Timur', 'Jawatimur', 'Bali',
       'Lampung', 'Riau', 'Sumatera Selatan', 'Sumatera Utara',
       'Jawa Tengah', 'Papua', 'Aceh', 'Kalimantan Timur', 'Jambi',
       'D.I Yogyakarta', 'Sulawesi Selatan', 'Kepulauan Riau',
       'Kepulauan Bangka Belitung', 'Kalimantan Barat',
       'Nusa Tenggara Timur', 'Sulawesi Tenggara', 'Kalimantan Utara',
       'Sulawesi Barat', 'Gorontalo', 'Maluku Utara', 'Sulawesi Utara',
       'Bangka Belitung', 'Papua Barat', 'International',
       'Kalimantan Selatan', 'Sumatra', 'Nusa Tenggara Barat', 'Maluku',
       'Nangroe Aceh Darussalam', 'Sulawesi Tengah', 'Di Yogyakarta',
       'Nusa Tenaggar Timur', 'Dki', 'Yogyakarta', 'Java', 'Bekasi',
       'Jakarta', 'Denpasar', 'Indonesia', 'Spain', 'East Java', 'Bogor',
       'East Kalimantan', 'Tangerang Selatan', 'Moscow', 'Sumatra Untara',
       'Jakarta Pusat', 'Central Java', 'Not Known', 'Sumut',
       'Jakarta Utara', 'Osaka', 'Jakarta Selatan', 'South Sumatra',
       'Connecticut', 'Kepri', 'Jakarta Barat', 'Tangerang', 'Singapore',
       'France', 'North Sumatra', 'Dki Jakarta, Indonesia', 'Slipi',
       'Rempoa'], dtype=object)

In [30]:
# memperbaiki value pada kolom region
data_travel.loc[:, 'region'] = data_travel['region'].replace({
    'Dki Jakarta': 'DKI Jakarta',
    'Dki Jakarta, Indonesia': 'DKI Jakarta',
    'Jakarta': 'DKI Jakarta',
    'Jakarta Pusat': 'DKI Jakarta',
    'Jakarta Selatan': 'DKI Jakarta',
    'Jakarta Utara': 'DKI Jakarta',
    'Jakarta Barat': 'DKI Jakarta',
    'Dki': 'DKI Jakarta',
    'Slipi': 'DKI Jakarta',

    'Tangerang': 'Banten',
    'Rempoa': 'Banten',
    'Tangerang Selatan': 'Banten',

    'Bekasi': 'Jawa Barat',
    'Bogor': 'Jawa Barat',

    'JawaTimur': 'Jawa Timur',
    'Jawatimur': 'Jawa Timur',
    'East Java': 'Jawa Timur',

    'Central Java': 'Jawa Tengah',

    'Sumatra Untara': 'Sumatera Utara',
    'Sumut': 'Sumatera Utara',
    'North Sumatra': 'Sumatera Utara',

    'South Sumatra': 'Sumatera Selatan',
    'South sumatra': 'Sumatera Selatan',
    'SOUTH SUMATRA': 'Sumatera Selatan',

    'Denpasar': 'Bali',

    'East Kalimantan': 'Kalimantan Timur',

    'Nusa Tenaggar Timur': 'Nusa Tenggara Timur',

    'D.I Yogyakarta': 'DI Yogyakarta',
    'Di Yogyakarta': 'DI Yogyakarta',
    'Yogyakarta': 'DI Yogyakarta',

    'Bangka Belitung': 'Kepulauan Bangka Belitung',
    'Kepri': 'Kepulauan Riau',

    'Nangroe Aceh Darussalam': 'Aceh',

    'Sumatra': np.nan,  # karena Sumatra bukan nama provinsi
    'Java': np.nan      # karena Java bukan nama provinsi
})

In [31]:
# cek unique value pada kolom region
data_travel['region'].unique()

array(['DKI Jakarta', 'Kalimantan Tengah', 'Jawa Barat', 'Bengkulu', '-1',
       'Banten', 'Sumatera Barat', 'Jawa Timur', 'Bali', 'Lampung',
       'Riau', 'Sumatera Selatan', 'Sumatera Utara', 'Jawa Tengah',
       'Papua', 'Aceh', 'Kalimantan Timur', 'Jambi', 'DI Yogyakarta',
       'Sulawesi Selatan', 'Kepulauan Riau', 'Kepulauan Bangka Belitung',
       'Kalimantan Barat', 'Nusa Tenggara Timur', 'Sulawesi Tenggara',
       'Kalimantan Utara', 'Sulawesi Barat', 'Gorontalo', 'Maluku Utara',
       'Sulawesi Utara', 'Papua Barat', 'International',
       'Kalimantan Selatan', nan, 'Nusa Tenggara Barat', 'Maluku',
       'Sulawesi Tengah', 'Indonesia', 'Spain', 'Moscow', 'Not Known',
       'Osaka', 'Connecticut', 'Singapore', 'France'], dtype=object)

In [32]:
# menghapus data tidak valid
data_travel.loc[:, 'region'] = data_travel['region'].replace(['-1', 'International', 'Indonesia','Not Known'], np.nan)

In [33]:
# cek unique value pada kolom region
data_travel['region'].unique()

array(['DKI Jakarta', 'Kalimantan Tengah', 'Jawa Barat', 'Bengkulu', nan,
       'Banten', 'Sumatera Barat', 'Jawa Timur', 'Bali', 'Lampung',
       'Riau', 'Sumatera Selatan', 'Sumatera Utara', 'Jawa Tengah',
       'Papua', 'Aceh', 'Kalimantan Timur', 'Jambi', 'DI Yogyakarta',
       'Sulawesi Selatan', 'Kepulauan Riau', 'Kepulauan Bangka Belitung',
       'Kalimantan Barat', 'Nusa Tenggara Timur', 'Sulawesi Tenggara',
       'Kalimantan Utara', 'Sulawesi Barat', 'Gorontalo', 'Maluku Utara',
       'Sulawesi Utara', 'Papua Barat', 'Kalimantan Selatan',
       'Nusa Tenggara Barat', 'Maluku', 'Sulawesi Tengah', 'Spain',
       'Moscow', 'Osaka', 'Connecticut', 'Singapore', 'France'],
      dtype=object)

In [34]:
# cek unique value region pada order_type international
data_travel[data_travel['order_type'] == 'International']['region'].unique()

array(['Bali', 'DKI Jakarta', 'Jawa Barat', 'Banten', 'Sulawesi Selatan',
       nan, 'Jawa Timur', 'Sumatera Utara', 'Sumatera Barat',
       'Jawa Tengah', 'Sulawesi Utara', 'Aceh',
       'Kepulauan Bangka Belitung', 'Riau', 'Kalimantan Timur', 'Jambi',
       'Kalimantan Utara', 'Lampung', 'Kalimantan Barat', 'Bengkulu',
       'Sumatera Selatan', 'Nusa Tenggara Timur', 'Papua',
       'DI Yogyakarta', 'Nusa Tenggara Barat', 'Kepulauan Riau',
       'Kalimantan Selatan', 'Singapore', 'Sulawesi Tenggara', 'France',
       'Papua Barat', 'Sulawesi Barat', 'Maluku', 'Kalimantan Tengah',
       'Gorontalo', 'Maluku Utara'], dtype=object)

In [35]:
data_travel.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3605790 entries, 0 to 3648141
Data columns (total 13 columns):
 #   Column           Dtype
---  ------           -----
 0   order_type       object
 1   pax_name         object
 2   order_id         object
 3   generation_date  datetime64[ns]
 4   travel_date      datetime64[ns]
 5   status           object
 6   agent            object
 7   region           object
 8   agent_type       object
 9   airline          object
 10  harga            float64
 11  class            object
 12  sector           object
dtypes: datetime64[ns](2), float64(1), object(10)
memory usage: 385.1+ MB

In [36]:
# cek kesesuaian order type, sector, dan region pada region 'Spain', 'Moscow', 'Osaka', 'Connecticut', 'Singapore', 'France'
data_travel.loc[data_travel['region'].isin(['Spain', 'Moscow', 'Osaka', 'Connecticut', 'Singapore', 'France'])]

,order_type,pax_name,order_id,generation_date,travel_date,status,agent,region,agent_type,airline,harga,class,sector
77013,Domestic,a0841ad2,PNR40474,2017-06-07,2017-06-12,To Deliver,7761,Spain,b2cUser,XG,0.001605,M,DPS-JOG
77014,Domestic,6c09f3dc,PNR40474,2017-06-07,2017-06-12,To Deliver,7761,Spain,b2cUser,XG,0.001605,M,DPS-JOG
367543,Domestic,f39001d8,PNR191311,2017-10-03,2017-10-03,To Deliver,8363,Moscow,b2cUser,LE,0.001492,L,JOG-DPS
476490,Domestic,f39001d8,PNR247983,2017-10-29,2017-10-30,To Deliver,8363,Moscow,b2cUser,QT,0.001213,X,JOG-DPS
994689,Domestic,1233eef0,PNR522939,2018-06-13,2018-06-18,To Deliver,8660,Osaka,b2cUser,XG,0.002123,T,CGK-MDC
994690,Domestic,1233eef0,PNR522939,2018-06-13,2018-06-22,To Deliver,8660,Osaka,b2cUser,MI,0.002534,N,MDC-CGK
2340678,Domestic,835d631c,PNR1321791,2018-10-06,2018-10-06,To Deliver,6111,Connecticut,b2cUser,AZ,0.001421,L,DPS-CGK
3168165,Domestic,64852f59,PNR1788765,2017-07-08,2017-07-15,To Deliver,8363,Moscow,b2cUser,XG,0.002993,K,DPS-CGK
3168166,Domestic,64852f59,PNR1788765,2017-07-08,2017-07-15,To Deliver,8363,Moscow,b2cUser,XG,0.000684,L,CGK-BKS
3184501,Domestic,f39001d8,PNR1796813,2017-07-12,2017-07-23,To Deliver,8363,Moscow,b2cUser,XG,0.001721,M,TKG-CGK
3184502,Domestic,f39001d8,PNR1796813,2017-07-12,2017-07-23,To Deliver,8363,Moscow,b2cUser,XG,0.000684,X,CGK-DPS
3184529,Domestic,64852f59,PNR1796826,2017-07-12,2017-07-23,To Deliver,8363,Moscow,b2cUser,XG,0.001721,M,TKG-CGK
3184530,Domestic,64852f59,PNR1796826,2017-07-12,2017-07-23,To Deliver,8363,Moscow,b2cUser,XG,0.000684,X,CGK-DPS
3207837,International,231eb565,PNR1807185,2017-04-03,2017-04-10,To Deliver,5286,Singapore,b2cUser,JE,0.006114,T,CGK-SGN
3207838,International,231eb565,PNR1807185,2017-04-03,2017-04-10,To Deliver,5286,Singapore,b2cUser,JE,0.000684,B,SGN-DAD
3207839,International,231eb565,PNR1807185,2017-04-03,2017-04-17,To Deliver,5286,Singapore,b2cUser,JE,0.000684,B,DAD-SGN
3207840,International,231eb565,PNR1807185,2017-04-03,2017-04-17,To Deliver,5286,Singapore,b2cUser,JE,0.000684,T,SGN-CGK
3212696,International,f3569571,PNR1808774,2017-04-05,2017-07-17,To Deliver,5359,France,b2cUser,RB,0.019376,W,DPS-BKK
3212697,International,f3569571,PNR1808774,2017-04-05,2017-07-18,To Deliver,5359,France,b2cUser,RB,0.000684,W,BKK-CDG
3212698,International,f3569571,PNR1808774,2017-04-05,2017-08-11,To Deliver,5359,France,b2cUser,RB,0.000684,B,CDG-BKK
3212699,International,f3569571,PNR1808774,2017-04-05,2017-08-12,To Deliver,5359,France,b2cUser,RB,0.000684,B,BKK-DPS
3228830,International,70642307,PNR1813973,2017-04-11,2017-04-13,To Deliver,3643,Singapore,b2cUser,XG,0.003620,Y,CGK-SIN

In [37]:
# Pilih hanya baris dengan region yang disebutkan DAN order_type 'domestic'
mask = (data_travel['region'].isin(['Spain', 'Moscow', 'Osaka', 'Connecticut', 'Singapore', 'France'])) & (data_travel['order_type'] == 'domestic')

# Hapus baris yang memenuhi kondisi
data_travel = data_travel[~mask]

In [38]:
# cek kembali unique value region pada order_type international
data_travel[data_travel['order_type'] == 'International']['region'].unique()

array(['Bali', 'DKI Jakarta', 'Jawa Barat', 'Banten', 'Sulawesi Selatan',
       nan, 'Jawa Timur', 'Sumatera Utara', 'Sumatera Barat',
       'Jawa Tengah', 'Sulawesi Utara', 'Aceh',
       'Kepulauan Bangka Belitung', 'Riau', 'Kalimantan Timur', 'Jambi',
       'Kalimantan Utara', 'Lampung', 'Kalimantan Barat', 'Bengkulu',
       'Sumatera Selatan', 'Nusa Tenggara Timur', 'Papua',
       'DI Yogyakarta', 'Nusa Tenggara Barat', 'Kepulauan Riau',
       'Kalimantan Selatan', 'Singapore', 'Sulawesi Tenggara', 'France',
       'Papua Barat', 'Sulawesi Barat', 'Maluku', 'Kalimantan Tengah',
       'Gorontalo', 'Maluku Utara'], dtype=object)

In [39]:
data_travel.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3605790 entries, 0 to 3648141
Data columns (total 13 columns):
 #   Column           Dtype
---  ------           -----
 0   order_type       object
 1   pax_name         object
 2   order_id         object
 3   generation_date  datetime64[ns]
 4   travel_date      datetime64[ns]
 5   status           object
 6   agent            object
 7   region           object
 8   agent_type       object
 9   airline          object
 10  harga            float64
 11  class            object
 12  sector           object
dtypes: datetime64[ns](2), float64(1), object(10)
memory usage: 385.1+ MB

**Class Column (inkonsisten)**

In [40]:
print(data_travel['class'].value_counts().to_string())

class
V                      368790
X                      321346
Q                      313147
T                      264473
N                      252656
L                      241584
M                      226776
Y                      183948
K                      178731
H                      170822
O                      156216
S                      118519
P                       98099
B                       97581
G                       96288
Z                       88892
E                       84187
A                       79358
W                       56629
I                       51479
R                       42441
F                       22705
Unknown                 20070
D                       15157
U                       12586
Promo                    8391
C                        4636
Economy                  3944
J                        2392
E1                       1855
E2                       1788
A/0                      1482
O1                       1299
T1                       1289
X1                       1288
N1                       1167
BCLP                     1071
W1                        812
E3                        722
K/0                       632
H1                        605
C3                        602
L/0                       599
J/0                       592
I/0                       584
N/0                       508
M1                        492
H/0                       465
BCLN                      436
G/0                       407
O/0                       388
L1                        378
B1                        373
M/0                       369
P/0                       243
Y1                        240
B/0                       232
F/0                       228
E/0                       226
C/0                       213
E4                        206
Y/0                       185
R/0                       174
S1                        172
Q/0                       167
A1                        123
DEPOSIT                   101
PELUNASAN                  78
E5                         78
F1                         77
C2                         75
D/0                        75
v                          64
V/0                        60
S/0                        56
x                          55
y                          44
s                          38
P1                         37
R1                         27
-                          24
BOOKING FEE                22
W/0                        21
FULL PAYMENT               20
t                          20
Y3                         19
n                          19
l                          19
q                          19
h                          17
X/0                        17
U/0                        15
T/0                        13
m                          13
b                          12
H3                         12
w                          11
OY                         10
k                          10
i                           9
P3                          9
ZY                          9
o                           8
LLG14DID/GATF               7
g                           7
promo                       6
LAKHTL                      6
INXURZ                      6
N3                          6
X3                          6
R3                          5
PA                          5
M3                          4
DEPOSIT 2                   4
e                           4
SEE7D                       3
d                           3
W3                          3
DFVBKZ                      3
B2                          2
R Friendly                  2
L3                          2
O3                          2
MNo-Change                  2
PEMBAYARAN DP50%            2
S3                          2
A9Z4NJ                      2
ZF                          2
RESCHEDULE                  2
FULLPAYMENT                 2
GD1BKN                      2
a                           1
T3                          1
NN                          1
LLLG14DID/GATF              1
c                           1
PINALTY FEE                 1
AVLCQG                      1
DEPOSIT 38 PAX              1
PEMBAYARAN                  1
ISSUED 26PAX                1
ISSUED 50 PAX               1
PY                          1
VEE7D                       1
FE6VXK                      1
PEMBAYARAN FULL             1
DEPOSIT 40%                 1
PAYMENT BOOKING FEE         1
PEMBAYARAN DEPOSIT          1
IY                          1
ISSUED 04PAX                1

In [41]:
data_travel['class'] = data_travel['class'].str.strip().str.upper()

In [42]:
data_travel['class'] = data_travel['class'].str.replace(r'/0$', '', regex=True)

In [43]:
data_travel['class'].unique()

array(['X', 'Q', 'V', 'L', 'T', 'P', 'N', 'A', 'H', 'B', 'Y', 'E', 'Z',
       'O', 'I', 'G', 'K', 'M', 'UNKNOWN', 'S', 'D', 'C', 'F', 'R', 'U',
       'J', 'PROMO', 'W', 'ECONOMY', 'VEE7D', 'SEE7D', 'BCLP', 'LAKHTL',
       'INXURZ', 'BCLN', 'FE6VXK', 'B1', 'E2', 'ZY', 'O1', 'W1', 'H1',
       'L1', 'X1', 'E3', 'N1', 'E1', 'S1', 'DEPOSIT', 'C3', 'Y1', 'E4',
       'T1', 'M1', 'A1', 'R1', 'BOOKING FEE', 'PEMBAYARAN DP50%', 'F1',
       'PELUNASAN', 'C2', 'P1', 'B2', 'FULL PAYMENT', 'PEMBAYARAN FULL',
       'DEPOSIT 40%', 'E5', 'PEMBAYARAN DEPOSIT', 'PINALTY FEE',
       'PEMBAYARAN', 'FULLPAYMENT', 'IY', 'OY', 'A9Z4NJ',
       'PAYMENT BOOKING FEE', 'H3', 'Y3', 'S3', 'P3', 'R3', 'M3', 'O3',
       '-', 'PY', 'ISSUED 50 PAX', 'ISSUED 26PAX', 'ISSUED 04PAX',
       'DEPOSIT 38 PAX', 'AVLCQG', 'GD1BKN', 'N3', 'X3', 'LLG14DID/GATF',
       'LLLG14DID/GATF', 'PA', 'R FRIENDLY', 'W3', 'L3', 'MNO-CHANGE',
       'T3', 'DFVBKZ', 'NN', 'ZF', 'RESCHEDULE', 'DEPOSIT 2'],
      dtype=object)

In [44]:
# Daftar kategori kelas
economy=['X','Q','V','L','T','P','N','A','H','B','Y','E','Z','O','I','G','K','M','S','D','C','F','R','U','J','ECONOMY']
business=['B1','E2','O1','W1','H1','L1','X1','E3','N1','E1','S1','C3','Y1','E4','T1','M1','A1','R1','F1','C2','P1','B2','E5']
first_class=['H3','Y3','S3','P3','R3','M3','O3','N3','X3','W3','L3','T3']

# Fungsi untuk mengategorikan kelas
def categorize_class(class_code):
    if class_code in economy:
        return 'Economy'
    elif class_code in business:
        return 'Business'
    elif class_code in first_class:
        return 'First Class'
    else:
        return 'Unknown'

# Tambahkan kolom baru ke dataset
data_travel['class_category'] = data_travel['class'].apply(categorize_class)

In [45]:
data_travel.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3605790 entries, 0 to 3648141
Data columns (total 14 columns):
 #   Column           Dtype
---  ------           -----
 0   order_type       object
 1   pax_name         object
 2   order_id         object
 3   generation_date  datetime64[ns]
 4   travel_date      datetime64[ns]
 5   status           object
 6   agent            object
 7   region           object
 8   agent_type       object
 9   airline          object
 10  harga            float64
 11  class            object
 12  sector           object
 13  class_category   object
dtypes: datetime64[ns](2), float64(1), object(11)
memory usage: 412.6+ MB

In [46]:
# export data menjadi format csv
data_travel.to_csv('data_travel_clean.csv', index=False)